{% set video_content_base_class = video_content_base_class|default('video-content') %}

{% block video_video %}
  {% include "@atoms/08-video/video.twig"  %}
{% endblock %}
{% if video_content_description or video_content_transcript_url %}
<div {{ bem('info', [], video_content_base_class) }}>
  {% block video_description %}
  {% if video_content_description %}
    {% include "@atoms/02-text/text/paragraphs/_paragraph.twig" with {
      paragraph_content: video_content_description,
      paragraph_blockname: video_content_base_class,
      paragraph_base_class: 'description'
    } %}
  {% endif %}
  {% endblock %}
  {% if video_content_transcript_url %}
    {% embed "@atoms/01-links/link/link.twig" with {
      link_content: "Transcript Available",
      link_url: video_content_transcript_url,
      link_blockname: video_content_base_class,
      link_base_class: 'transcript',
    } %}
      {% block link_content %}
        {% include "@atoms/04-images/icons/_icon.twig" with {
          icon_name: 'keyboard',
          icon_blockname: video_content_base_class,
        } %}
        Transcript Available
      {% endblock %}
    {% endembed %}
  {% endif %}
</div>
{% endif %}
