// Grayscale
$white: white;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #d2d5d0;
$gray-light: #999;
$gray-light-alt: #767676;
$gray: #404040;
$gray-dark: #4a4f55;
$gray-darker: #333;
$black: black;

// Project
$purple-light: #c1a3d4;
$purple: #57068c;
$purple-dark: #3d0563;
$purple-darker: #2b0146;
$green: #598131;
$blue: #085ca9;
