$card-border-radius: 3px;

// PL Only Wrap
.card__wrap {
  background-color: $gray-lighter;
  padding: $space-double;
}

.card {
  align-items: baseline;
  background: $white;
  border-radius: $card-border-radius;
  display: flex;
  flex-direction: column;
  margin-bottom: $space-double;
  width: 100%;
}

.card__image {
  position: relative;

  &--with-date {
    margin-bottom: $space;
  }

  img,
  picture {
    border-radius: $card-border-radius $card-border-radius 0 0;
  }
}

.card__date {
  bottom: -29px;
  left: 20px;
  position: absolute;
}

.card__eyebrow {
  color: $purple;
  font-weight: bold;
}

.card__title {
  @include heading-large($font-size: 1.7rem, $margin: 0 0 $space);

  word-break: break-word;

  &--no-margin {
    @include no-bottom;
  }

  &-link {
    @include link;

    color: $gray-darker;
    text-decoration: none;

    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }
}

.card__subtitle {
  @include heading-medium($font-size: 0.9rem);
  @include no-bottom;

  color: $gray;
}

.card__tag {
  position: absolute;
  display: inline-block;
  top: $space-one-half;
  right: -$space-one-half;
  padding: 5px 10px;
  background: $purple;
  color: $white;
  text-decoration: none;
  font-weight: bold;
}

.card__copy {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  padding: 1.15rem;
}

.card__body-wrap p {
  margin: 0 0 $space;
}

.card__bottom {
  margin: auto 1.4rem $space-double; // Leave top at auto to align in flex.
}

.card__link {
  @include button;
}
