$breadcrumb-active: #bbb;

.breadcrumb {
  @include list-reset;

  position: relative;
  margin: $space-one-half 0;
}

.breadcrumb__item,
.breadcrumb__link,
.breadcrumb__link:link,
.breadcrumb__link:visited,
.breadcrumb__link:focus {
  color: $gray-dark;
  font-weight: 500;
  text-decoration: none;
}

.breadcrumb__link {
  &:hover {
    color: $gray;

    .breadcrumb__item:not(:first-child) & {
      text-decoration: underline;
    }

    .breadcrumb__link-icon {
      fill: $gray;
    }
  }

  &-content {
    @include visually-hidden;
  }
}

.breadcrumb__item {
  display: inline-block;
  font-size: 0.75rem;

  &::after {
    content: '/';
  }

  &:last-child {
    color: $breadcrumb-active;

    &::after {
      content: '';
    }
  }
}

.breadcrumb_link:active {
  color: $breadcrumb-active;
}

// Home
.breadcrumb__link-icon {
  height: 20px;
  fill: $gray-dark;
  position: relative;
  top: 4px;
  width: 20px;
}
