{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{# Set Twig block to a variable to pass in special content. #}
{% set pre_menu %}
  {# This is the block that can be filled in a file embedding this file. #}
  {% block menu_special_content %}
  {% endblock %}
{% endset %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{{ menus.menu_links(items, attributes, 0, menu_class, menu_modifiers, menu_blockname, item_base_class, item_modifiers, item_blockname, menu_icon_url, pre_menu, li_key) }}

{% macro menu_links(items, attributes, menu_level, menu_class, menu_modifiers, menu_blockname, item_base_class, item_modifiers, item_blockname, menu_icon_url, pre_menu, li_key) %}
  {% import _self as menus %}
  {% if items %}

    {# Set classes #}
    {% set menu_class = menu_class|default('menu') %}
    {% if not menu_modifiers %}
      {% set menu_modifiers = [] %}
    {% endif %}
    {% if menu_level > 0 %}
      {% set menu_modifiers = menu_modifiers|merge(['sub', 'sub-' ~ menu_level]) %}
    {% endif %}

    {# List #}
    {% if menu_level > 0 %}
      <div class="menu-container">
    {% endif %}
      {% embed "@atoms/03-lists/00-ul.twig" with {
        ul_base_class: menu_class,
        ul_modifiers: menu_modifiers,
        ul_blockname: menu_blockname
      } %}
        {% block list_content %}
          {% for item in items %}
            {% embed "@molecules/menus/_menu-item-inpage.twig" with {
              li_base_class: item_base_class,
              li_modifiers: item_modifiers,
              li_blockname: item_blockname,
              li_key: loop.index,
            } %}
              {% block menu_item_content %}
                {# Only open the ability to pass in special content to the very first menu item. #}
                {% if loop.first %}
                  {{ pre_menu }}
                {% endif %}
              {% endblock %}
            {% endembed %}
          {% endfor %}
        {% endblock %}
      {% endembed %}
    {% if menu_level > 0 %}
      </div>
    {% endif %}

  {% endif %}
{% endmacro %}
