//////////////////////////
// General Variables
// Note: colors should go into
// components/_patterns/00-base/global/01-colors/_color-vars.scss
// and breakpoint related vars into
// components/_patterns/00-base/_breakpoints.scss

// Fonts
$font-body: 'Gotham 3r', 'Gotham A', 'Gotham B', sans-serif;
$font-heading: 'Gotham 9r', 'Gotham A', 'Gotham B', sans-serif;

// Spacing
$space: 0.9rem;

// times
$space-double: $space*2;
$space-triple: $space*3;
$space-quadruple: $space*4;
$space-quintuple: $space*5;
$space-sextuple: $space*6;
$space-septuple: $space*7;
$space-octuple: $space*8;

// divided
$space-one-half: $space/2;
$space-one-third: $space/3;
$space-one-fourth: $space/4;
$space-one-fifth: $space/5;
$space-one-sixth: $space/6;
$space-one-seventh: $space/7;
$space-one-eighth: $space/8;
