html {
  box-sizing: border-box;
}

body.has-overlay {
  overflow: hidden;
}

.dark-bg {
  background: $gray-dark;
}

.wrapper {
  @include wrapper;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  @include link;
}
