<div data-drupal-selector="views-exposed-form-news-news-page" action="/news" method="get" id="views-exposed-form-news-news-page" accept-charset="UTF-8" class="wrap wrap--contained views-exposed-form bef-exposed-form">
          <div class="form-wrap form-wrap--gray">
      
<h2 class="form-wrap__title">
      Filter News By
  </h2>
      <form>
        <div class="js-form-item form-item">
        <div class="form-item__dropdown"><select data-drupal-selector="edit-field-department-target-id" id="edit-field-department-target-id" name="field_department_target_id" class="form-select form-item__select"><option value="All" selected="selected">Department</option><option value="326">Department 1 Demo Content</option><option value="331">Department 2 Demo Content</option><option value="336">Department 3 Demo Content</option></select></div>
        </div>
<div class="js-form-item form-item">
        <div class="form-item__dropdown"><select data-drupal-selector="edit-field-areas-of-study-target-id" id="edit-field-areas-of-study-target-id" name="field_areas_of_study_target_id" class="form-select form-item__select"><option value="All" selected="selected">Area of Study</option><option value="31">Art</option><option value="36">Education</option><option value="41">Health</option><option value="46">Media</option><option value="51">Music</option><option value="56">Psychology</option></select></div>
        </div>
<div class="js-form-item form-item">
      <label for="edit-sort-by" class="form-item__label">Sort by</label>
        <div class="form-item__dropdown"><select data-drupal-selector="edit-sort-by" id="edit-sort-by" name="sort_by" class="form-select form-item__select"><option value="field_post_date_value" selected="selected">Post Date</option></select></div>
        </div>
<div class="js-form-item form-item">
      <label for="edit-sort-order" class="form-item__label">Order</label>
        <div class="form-item__dropdown"><select data-drupal-selector="edit-sort-order" id="edit-sort-order" name="sort_order" class="form-select form-item__select"><option value="op">Sort By</option><option value="DESC" selected="selected">Descending</option><option value="ASC">Ascending</option></select></div>
        </div>
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit-news" type="submit" id="edit-submit-news" value="Apply" class="button js-form-submit form-submit form-item__textfield">
</div>


      </form>
    </div>
    </div>
