// Menu Breakpoint
$main-menu-medium: $large;

// Pattern Lab specific
.main-nav-wrapper--pl {
  background-color: $purple-dark;
}

body.menu-open {
  height: 100%;
  overflow: hidden;
}

// Nav
.main-nav {
  display: none;

  &--open {
    background-color: $white;
    display: block;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 135px;
    right: 0;
    width: 100%;
    z-index: 96;
  }

  @include breakpoint($main-menu-medium) {
    background-color: transparent;
    display: block;
    overflow: visible;
    position: relative;
    top: 0;
  }
}

.toolbar-vertical {
  .main-nav--open {
    top: 99px;
  }
}

// UL
.main-menu {
  @include list-reset;

  &--pl {
    background-color: rgba(61, 5, 99, 0.65);
  }

  &--expanded {
    height: 100%;

    @include breakpoint($main-menu-medium) {
      position: relative;
      transform: translateX(0);
    }
  }
}

//
// Sub Navigation
//

// Wrap (only used for subs on mobile).
.main-menu__sub-wrap {
  background: $white;
  height: 100vh;
  left: 102%;
  position: absolute;
  top: 0;
  transform: translateX(0);
  transition: transform 0.2s;
  width: 100%;
  will-change: 'transform';
  z-index: 10;

  @include breakpoint($main-menu-medium) {
    background: transparent;
    display: none;
    height: auto;
    left: 0;
  }

  &--open {
    display: block;
    transform: translateX(-102%);

    @include breakpoint($main-menu-medium) {
      display: none;
      transform: translateX(0);
      z-index: 10;
    }
  }
}

.main-menu__sub-h3 {
  color: $gray-dark;
  font-weight: 500;
  margin: 0.75rem $space;
  text-transform: uppercase;

  @include medium {
    margin: 0.75rem $space-double 0.75rem $space-triple;
  }

  @include breakpoint($main-menu-medium) {
    display: none;
  }
}

// UL (Nested)
.main-menu--sub {
  @include breakpoint($main-menu-medium) {
    box-shadow: -7px 5px 8px rgba(0, 0, 0, 0.4);
    height: auto;
    overflow: visible;
    z-index: 1;
    font-size: 0.8rem;

    &::before {
      border: 14px solid $white;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      position: absolute;
      right: 27px;
      top: -20px;
    }
  }

  &:hover {
    @include breakpoint($main-menu-medium) {
      transition: all 0.2s;
    }
  }
}
