{% set site_header_base_class = "header" %}
{% set site_logo = site_logo|default('/themes/custom/nyusteinhardt/images/logo.svg') %}

{% if not site_header_right_modifiers %}
  {% set site_header_right_modifiers = [] %}
{% endif %}

{% if 'simple' in site_header_modifiers %}
  {% set site_header_right_modifiers = site_header_right_modifiers|merge(['hidden']) %}
{% endif %}

<header {{ bem(site_header_base_class, site_header_modifiers) }}>
  <div {{ bem('inner', [], site_header_base_class) }}>
    <div id="GN-container"></div>
    <div {{ bem('right', site_header_right_modifiers, site_header_base_class) }}>
      {% block header_menu %}
        {% embed "@molecules/menus/inline-menu/_inline-menu-wrapper.twig" with {
          inline_menu_wrapper_title: 'For',
          inline_menu_wrapper_modifiers: ['desktop'],
        } %}
          {% block content %}
            {% include "@molecules/menus/inline-menu/inline-menu.twig" with {
              inline_menu_item_modifiers: ['light'],
              items: header.utility_nav_items,
            } %}
          {% endblock %}
        {% endembed %}
      {% endblock %}

      {# Search button #}
      {% embed "@atoms/06-buttons/01-button.twig" with {
        button_attributes: {
          type: 'button',
          role: 'button',
          'aria-label': 'Toggle Search'
        },
        button_base_class: 'search',
        button_blockname: site_header_base_class
      } %}
        {% block button_content %}
          {% include "@atoms/04-images/icons/_icon.twig" with {
            icon_name: 'search',
            icon_base_class: 'search-icon',
            icon_blockname: site_header_base_class,
          } %}
          <span>Search</span>
        {% endblock %}
      {% endembed %}
      </div><!-- right -->

      <a href="#" id="toggle-expand" class="toggle-expand">
        <span class="toggle-expand__open">
          {% include "@atoms/04-images/icons/_icon.twig" with {
            icon_base_class: "icon",
            icon_blockname: "toggle-expand",
            icon_name: "bars",
          } %}
          <span class="toggle-expand__text visually-hidden">Main Menu</span>
        </span>
        <span class="toggle-expand__close">
          {% include "@atoms/04-images/icons/_icon.twig" with {
            icon_base_class: "icon-close",
            icon_blockname: "toggle-expand",
            icon_name: "close",
          } %}
        </span>
      </a>
    </div><!-- inner -->
</header>

{{ attach_library('nyusteinhardt/site-header') }}
