{% set btn_group_base_class = btn_group_base_class|default('btn-group') %}

{% if not btn_group_modifiers %}
  {% set btn_group_modifiers = [] %}
{% endif %}

{% if not btn_group_link_modifiers %}
  {% set btn_group_link_modifiers = [] %}
{% endif %}

{% if not btn_group_icon_modifiers %}
  {% set btn_group_icon_modifiers = [] %}
{% endif %}

{% if 'light' in btn_group_modifiers %}
  {% set btn_group_link_modifiers = btn_group_link_modifiers|merge(['purple']) %}
{% else  %}
  {% if btn_group_url_2 %}
    {% set btn_group_icon_modifiers = btn_group_icon_modifiers|merge(['purple']) %}
  {% endif %}
{% endif %}

{% if 'light' in btn_group_modifiers and not btn_group_url_2 %}
  {% set btn_group_icon_modifiers = btn_group_icon_modifiers|merge(['purple']) %}
{% endif %}

<div {{ bem(btn_group_base_class, btn_group_modifiers) }}>
  {% include "@atoms/04-images/icons/_icon.twig" with {
    icon_name: 'info',
    icon_blockname: btn_group_base_class,
    icon_modifiers: btn_group_icon_modifiers,
  } %}
  {# single link #}
  {% if not btn_group_url_2 %}
    {% include "@atoms/01-links/link/link.twig" with {
      link_base_class: 'custom-link',
      link_content: btn_group_label_text,
      link_url: btn_group_url,
      link_blockname: btn_group_base_class,
      link_modifiers: btn_group_link_modifiers,
    } %}
  {# double link #}
  {% else %}
    <span>{{ btn_group_label_text }}</span>
    {% if btn_group_url %}
      {% include "@atoms/01-links/link/link.twig" with {
        link_base_class: 'custom-link',
        link_content: btn_group_text,
        link_url: btn_group_url,
        link_blockname: btn_group_base_class,
        link_modifiers: btn_group_link_modifiers,
      } %}
    {% endif %}
    {% if btn_group_url_2 %}
      {% include "@atoms/01-links/link/link.twig" with {
        link_base_class: 'custom-link',
        link_content: btn_group_text_2,
        link_url: btn_group_url_2,
        link_blockname: btn_group_base_class,
        link_modifiers: btn_group_link_modifiers,
      } %}
    {% endif %}
  {% endif %}
</div>
